<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=.\SQLEXPRESS2012;Database=Tienda;User Id=admin;Password=123456;" />
  </connectionStrings>
  
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".otf"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".ttf" mimeType="font/ttf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <mimeMap fileExtension=".woff" mimeType="font/woff"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>

    
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add name="SqlProvider"
           type="System.Web.Security.SqlMembershipProvider"
           connectionStringName="LocalSqlServer"
           applicationName="TiendaApplication"
           enablePasswordRetrieval="false"
           enablePasswordReset="true"
           minRequiredPasswordLength="1"
            minRequiredNonalphanumericCharacters="0"
           requiresQuestionAndAnswer="true"
           requiresUniqueEmail="true"
           passwordFormat="Hashed" />
      </providers>
    </membership>

    <authentication mode="Forms" >
      <forms loginUrl="Login2.aspx" />
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>
    
  </system.web>


 <!-- PERMISOS-->
  <location path="RegisterUser.aspx">
    <system.web>
      <authorization>
         <allow users="*" /> 
        <!--<deny users="*" />-->
      </authorization>
    </system.web>
  </location>

</configuration>